html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    margin: 0;
}

.section {
    max-width: 2000px;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.about-me-section {
    background: linear-gradient(175deg,
        rgb(175, 231, 175) 60%, 
        white 40%
    );
}

.contact-me-section {
    background-color: rgb(236, 252, 236);
}

.contact-me-section > .content-container {
    justify-content: space-between;
}

.about-me-container {
    background-color: yellow;
    padding: 20px;
    box-shadow: 5px 5px 5px grey;
    height: fit-content;
}

.about-me-container > div {
    margin-top: 30px;
    text-align: end;
}

.about-me-title {
    margin: 20px 0;
}

.about-me-image, .contact-me-image {
    background-color: red;
    min-width: 300px;
    min-height: 350px;
}

.my-work-title {
    grid-column: 1 / -1;
    margin: 0 0 -15px 0;
}

.projects-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
    margin: auto;
    width: 100%;
}

.project {
    height: 330px;
    background-color: pink;
}

.contact-me-image {
    height: 100%;
    width: 100%;
}

.contact-info {
    font-size: 1.2rem;
    margin-right: 20px;
    align-self: flex-start;
}

.contact-info > h2 {
    margin: 0;
}

.contact-me-text {
    font-size: 1.5rem;
}

.phone-number, .email {
    display: flex;
    align-items: center;
    gap: 10px;
}

h2 {
    font-size: 3rem;
}

p {
    margin: 0;
}

@media (min-width: 1100px) {
    .projects-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 990px) {
    /* .content-container {
        width: 90%;
    } */

    .about-me-section {
        padding-top: 80px;
    }

    .about-me-section > .content-container {
        display: inline;
    }

    .about-me-image {
        float: left;
        position: relative;
        right: 30px;
        bottom: 50px;
        margin: 0 -10px -40px 0;
    }

    .about-me-text {
        shape-outside: margin-box;
    }

    .contact-info {
        font-size: 1rem;
    }
    
    .contact-me-text {
        font-size: 1.2rem;
    }
}

@media (max-width: 610px) {
    .section {
        padding: 60px 0;
    }

    .about-me-section {
        padding-top: 30px;
    }

    .about-me-section > .content-container {
        display: flex;
        flex-direction: column;
    }

    .about-me-title {
        text-align: center;
    }

    .about-me-image {
        position: static;
        margin: 0;
        width: 100%;
        min-width: 150px;
    }

    .contact-icon {
        display: none;
    }

    .contact-me-image {
        width: 100%;
    }

    .contact-me-section {
        padding: 0;
    }

    .contact-me-section > .content-container {
        flex-direction: column;
        width: 100%;
    }
}