html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --main-color: rgb(90, 131, 90);
    --side-color: rgb(255, 98, 62);
    /* font-family: arcadeClassic, karmaArcade, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
}

body {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    margin: 0;
}

.section {
    max-width: 2000px;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.about-me-section {
    background: linear-gradient(168deg, rgb(151, 187, 134) 10%, var(--main-color) 40%, var(--main-color) 50%, white 50.2%);
}

.contact-me-section {
    background: linear-gradient(180deg, var(--main-color) 60%, rgb(114, 143, 100));
}

.about-me-container {
    background-color: white;
    padding: 20px 20px 40px 20px;
    box-shadow: 2px 2px 7px grey;
    height: fit-content;
    border-radius: 0 10px 10px 0;
    border: 5px solid var(--side-color);
    
    transform: rotate3d(0, 1, 0, 90deg);
    transform-origin: top left;
    animation-name: swingIntro;
    animation-duration: 1.3s;
    animation-delay: .2s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.39, -0.06, 0, 1.58);
    animation-fill-mode: forwards;
    perspective: 240px;
}

.about-me-image {
    position: relative;
    min-width: 300px;
    z-index: 1;

    animation: .5s cubic-bezier(0, 0, 0, 1.02) 1 slideDown;
}

.name {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 2.8rem;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
}

.about-me-icons {
    margin-top: 30px;
    text-align: end;
}

.about-me-title {
    margin: 20px 0 10px 0;
}

.about-me-image, .contact-me-image {
    background-color: var(--side-color);
    min-height: 350px;
    position: relative;
}

.about-me-icons {
    justify-content: end;
}

.about-me-social {
    height: 30px;
}

.contact-me-image {
    min-width: 250px;
    height: 100%;
    width: 100%;
}

.image-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

.my-work-section {
    padding-bottom: 60px;
}

.my-work-title {
    grid-column: 1 / -1;
    margin: 0 0 -15px 0;
}

.projects-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
    margin: auto;
    width: 100%;
}

.project {
    height: 330px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 7px grey;
    border-radius: 10px 10px 5px 5px;
}

.project:hover {
    scale: 1.03;
}

.project-image-container {
    color: white;
    text-align: center;
    font-size: 3rem;
    flex-grow: 4;
    background: linear-gradient(135deg, var(--side-color) 40%, orange);
    border: 5px solid orangered;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

.project-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.battleship-switch:hover {
    content: url("./img/projectImgsGifs/battleship.gif");
}

.weather-switch:hover {
    content: url("./img/projectImgsGifs/weatherApp.gif");
}

.todo-list-switch:hover {
    content: url("./img/projectImgsGifs/toDoLIst.gif");
}

.rps-switch:hover {
    content: url("./img/projectImgsGifs/rps.gif");
}

.etchSketch-switch:hover {
    content: url("./img/projectImgsGifs/etchSketch.gif");
}

.calculator-switch:hover {
    content: url("./img/projectImgsGifs/calculator.gif");
}

.project-description {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 10px 20px;
    border-radius: 0 0 5px 5px;
}

.project-description > h3 {
    margin: 0;
}

.project-icons {
    display: flex;
    gap: 5px;
    height: fit-content;
    width: fit-content;
    justify-content: space-between;
    justify-self: end;
}

.redirect-icon {
    width: 24px;
}

.project-text {
    grid-column: span 2;
}

.contact-info {
    color: white;
    font-size: 1.2rem;
    margin-right: 20px;
    align-self: flex-start;
}

.contact-me-text {
    font-size: 1.5rem;
}

.contact-info > h2,
.contact-me-text,
.address2,
.email {
    margin: 0 0 25px 0;
}

.phone-number {
    margin-bottom: 5px;
}

.phone-number, .email {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-me-icons,
.contact-me-icons {
    display: flex;
    gap: 15px;
}

.contact-icon {
    filter: invert(100%);
    width: 20px;
}

.contact-me-social {
    height: 40px;
}

h2 {
    font-size: 2.5rem;
}

p {
    margin: 0;
}

@keyframes swingIntro {
    0% {
        transform: rotate3d(0, 1, 0, 90deg);
    }
    100% {
        transform: rotate3d(0, 1, 0, 0deg);
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-200px);
        opacity: 50%;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes gradientReveal {
   
}

@media (min-width: 1100px) {
    .projects-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) {
    .about-me-section {
        padding-top: 80px;
        background: linear-gradient(165deg, var(--main-color), var(--main-color) 57%, white 57.2%, white 100%);
    }

    .about-me-section > .content-container {
        display: inline;
    }

    .about-me-image {
        float: left;
        position: relative;
        right: 30px;
        bottom: 50px;
        margin: 0 -10px -40px 0;
    }

    .about-me-container {
        border-radius: 0 10px 10px 10px;
        border: 5px solid var(--side-color);
    }

    .name {
        bottom: 85%;
        left: 9.8em;
        text-shadow: 2px 2px 7px grey;
    }

    .about-me-text {
        shape-outside: margin-box;
    }

    .about-me-icons {
        display: none;
    }

    .contact-info {
        font-size: 1rem;
        align-self: center;
    }
    
    .contact-me-text {
        font-size: 1.2rem;
    }

    .contact-me-icons {
        justify-content: center;
    }
}

@media (max-width: 610px) {
    .section {
        padding: 60px 0;
    }

    .about-me-section {
        padding-top: 30px;
        background: linear-gradient(150deg, var(--main-color), var(--main-color) 35%, white 35.2%, white 100%);
    }

    .about-me-section > .content-container {
        display: flex;
        flex-direction: column;
    }

    .about-me-title {
        text-align: center;
    }

    .about-me-image {
        position: static;
        margin: 0;
        width: 100%;
        min-width: 150px;
        display: flex;
        align-items: end;
        box-shadow: 2px 2px 7px grey;
    }

    .about-me-container {
        position: relative;
        background-color: transparent;
        box-shadow: none;
        padding: 20px 0;
        border: none;
    }

    .about-me-icons {
        display: flex;
        position: absolute;
        width: 100%;
        justify-content: center;
    }

    .my-work-title {
        text-align: center;
    }

    .project-description {
        flex-grow: 0;
    }

    .contact-info {
        margin-right: 0;
        padding: 20px 0 60px 0;
    }

    .contact-info > h2,
    .contact-info > div:last-child {
        text-align: center;
    }

    .contact-icon {
        display: none;
    }

    .contact-me-image {
        position: absolute;
        top: 100%;
        left: 0;
    }

    .contact-me-section {
        padding: 0;
        position: relative;
    }

    .name {
        position: static;
        transform: translateX(0);
        width: min-content;
        height: min-content;
        margin: 0 10px;
        font-size: 3.5rem;
    }

}