html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    margin: 0;
}

.section {
    max-width: 2000px;
    padding: 30px;
}

.about-me-section {
    background: linear-gradient(175deg,
        rgb(236, 252, 236) 60%, 
        white 40%
    );
}

.contact-me-section {
    background-color: rgb(236, 252, 236);
}

.about-me-section > .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-container {
    max-width: 500px;
    background-color: white;
    padding: 20px;
    box-shadow: 5px 5px 5px grey;
    height: fit-content;
}

.about-me-image {
    background-color: red;
    height: 300px;
    width: 250px;
}

.projects-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
}

.project {
    max-width: 200px;
    height: 250px;
    width: 100%;
    background-color: pink;
}